body{
  background-image: url(../images/fundo_cv.png);
  background-attachment: fixed;
  background-color: rgba (16, 79, 80, 0.34)
  font-family: sans-serif;
  opacity: 0.9;
}
.destaque{
  font-family: fantasy;
}
h1{
  color: #009688;
  font-size: 26px;
  text-align: center;
  font-style: italic;
}
h2{
  color: #009688;
  text-decoration: underline;
  font-weight: normal;
  text-align: left;
  font-size: 24px;
}
h3{
  color: #009688;
  text-decoration: underline;
  font-weight: normal;
  text-align: left;
  font-size: 24px;
}

h4{
  color: #009688;
  text-decoration: underline;
  font-weight: normal;
  text-align: left;
  font-size: 24px;
}

h5{
  color: #009688;
  text-decoration: underline;
  font-weight: normal;
  text-align: left;
  font-size: 24px;
}

h6{
  color: #009688;
  text-decoration: underline;
  font-weight: normal;
  text-align: left;
  font-size: 24px;
}

li{
  color:black;
  font-size: 20px;
  line-height: 2em;
}

p{
  text-align: justify;
  font-size: 22px;
  line-height: 2em;
}

a{
  color:black;
  font-size: 20px;
  line-height: 2em;
}
strong{
  color: green;
}

em{
  color: blue;
}

mark{
background-color: gray;
}

label{
  font-family:sans-serif;
}
input:focus{
  background-color: yellow;
}
textarea{
  resize: vertical;
}
a:hover{
  color: purple;
  text-decoration: overline;
}
img:hover{
  border-radius: 20px;
}
